.home {
  margin-top: 50px;
  padding-top: 50px;
  background-color: white;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.swiper__text {
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(100, 100, 100);
  margin: 50px auto;
  width: 50%;
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
