.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;

    &__login,
    &__register,
    &__lunes,
    &__planetes,
    &__news {
      color: white;
      text-decoration: none;
      display: flex;
      align-items: center;
      margin-right: 2rem;
    }

    &__connection {
      display: flex;
      align-items: center;
    }

    &__menu {
      display: flex;
      align-items: center;
    }
  }
  
  .header__nav {
    display: flex;
  }
  
  .header__menu-item:not(:last-child) {
    margin-right: 2rem;
  }
  
  .header__menu-link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.2s;
  }
  
  .header__menu-link:hover {
    color: #fd5d4c;
  }
  